.swiper-button-next {
  margin-right: 8px;

  @media (min-width: 768px) {
    margin-right: 28px;
  }

  @media (min-width: 1200px) {
    margin-right: 45px;
  }
}
.swiper-button-prev {
  margin-left: 8px;

  @media (min-width: 768px) {
    margin-left: 28px;
  }

  @media (min-width: 1200px) {
    margin-left: 45px;
  }
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #ffba08;
}

div .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #999999;
  opacity: 1;

  @media (min-width: 768px) {
    width: 12px;
    height: 12px;
  }

  @media (min-width: 1200px) {
    width: 16px;
    height: 16px;
  }
}

div .swiper-pagination-bullet-active {
  background: #ffba08;
}
